@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    background-color: rgb(31, 27, 27);
    color: white;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.footer{
  font-size: 1.5em;
  opacity: 0.5;
  font-weight: lighter;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background: black;
}


button{
    background-color: #ffff;
    color:black;
    font-size: 1.5em;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 3vh;
    margin-left: 5px;
}
input{
    
    display: block;
    margin: 0 auto;
    margin-top: 5vh;
    color:black;
    background-color: #ffff;
    font-size: 1.5em;
    border-radius: 3px;
}


ul{
    font-size: 1.5em;
    display: block;
    margin-left: -4vh;
    list-style-type: none; 
    padding-bottom: 5vh;
}
.checkbox{
    display: inline;
}
